<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>{% block title %}Россиянка{% endblock %}</title>
        <meta name="Description" content="{% block meta_description %}{% endblock %}">
        <meta name="Keywords" content="{% block meta_keywords %}{% endblock %}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
