{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% from 'SiteMainBundle:Frontend/Player:macros.html.twig' import one %}

{% block title %}{% endblock %}

{% block content %}
    <div class="wrap_content">
        <div class="content content-top-player">
            {{ one(player) }}
        </div>
    </div>
{% endblock %}