<div class="partners-block">
    <div class="partners-block-title">{{ 'frontend.partners.title'|trans({}, 'menu') }}</div>
    <ul>
        {% for partner in partners %}<li>
                <a href="{{ partner.link }}" target="_blank">
                    <img src="{{ asset(partner.webPath) }}" alt="">
                </a>
            </li>{% endfor %}
    </ul>
</div>