@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=cyrillic,cyrillic-ext,latin);

@font-face {
    font-family: Calibri-Bold;
    src: url("fonts/Calibri/Calibri.eot");
    src: url("fonts/Calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri/Calibri.woff") format("woff"), url("fonts/Calibri/calibri.ttf") format("truetype");
    font-weight: 400;
}

/* font-family: "OpenSansBold"; */
@font-face {
    font-family: Calibri-Regular;
    src: url("fonts/Calibri/Calibri.eot");
    src: url("fonts/Calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("fonts/Calibri/Calibri.woff") format("woff"), url("fonts/Calibri/calibri.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    height: 100%;
    min-width: 1201px;
    margin: 0;
    background: url('/bundles/sitemain/frontend/images/bg2.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-behavior: url("/bundles/sitemain/frontend/css/backgroundsize.min.htc"); /* IE */
}

h1 {
    font-family: Calibri-Regular;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    padding: 17px 0px;
}

h2 {
    font-family: Calibri-Regular;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    margin: 0;
    padding: 17px 0px;
}

.hide {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    min-width: 120px;
    width: 1200px;
    position: relative;
    margin: 0px auto 0 auto;
    padding-top: 15px;
}

.header-block {
    height: 115px;
    width: 1165px;
    margin: 0 auto;
    position: relative;
}

.header-block .border {
    height: 1px;
    background: #fc0c17;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0px 17px;
    margin: 0px -17px 0px -18px;
}

.header-block .border.submenu{
    height: 45px;
    bottom: -43px;
    background: #e46464;
    border-top: #fc0c17 solid 1px;
}

.logo {
    position: relative;
    float: left;
    z-index: 2;
}

.main-menu {
    height: 45px;
    margin: 68px 0 0 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.main-menu > ul {
    height: 45px;
}

.main-menu > ul li {
    display: inline-block;
    margin: 0 0 0 35px;
    height: 45px;
}
.main-menu > ul li.first{
    margin: 0;
}

/*.main-menu > ul > li.children.current,*/
/*.main-menu > ul > li.children.current_ancestor*/
/*{*/
    /*background: url('/bundles/sitemain/frontend/images/arrow.png') bottom center no-repeat;*/
/*}*/

.main-menu > ul > li:hover a,
.main-menu > ul > li.current a,
.main-menu > ul > li.current_ancestor a {
    color: #fd131c;
}

.main-menu > ul > li a {
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.main-menu > ul > li > ul {
    display: none;
    position: absolute;
    top: 46px;
    height: 44px;
    line-height: 45px;
    z-index: 1000;
    left: 0px;
    right: 0;
    text-align: center;
    background: #e46464;
    padding: 0px 17px;
    margin: 0px -17px 0px -18px;
}

.main-menu > ul > li > ul > li.first {
    margin-left: 0;
}

/*.main-menu > ul > li:hover > ul,*/
.main-menu > ul > li.current_ancestor > ul,
.main-menu > ul > li.current > ul {
    display: inline-block;
}

.main-menu > ul > li > ul > li:hover > a,
.main-menu > ul > li > ul > li.current > a,
.main-menu > ul > li > ul > li.current_ancestor > a {
    color: #000 !important;
}

.main-menu > ul > li > ul > li > a {
    color: #fff !important;
}

.main-menu > ul > li > ul > li > ul {
    display: none;
    position: absolute;
    height: 44px;
    line-height: 45px;
    z-index: 1000;
    background: #fff;
    border-bottom: #d9d9d9 solid 1px;
    margin: 0;
    padding: 0;
}

.main-menu > ul > li > ul > li > ul.menu_level_2{
    width: 100%;
    left: 0;
}

.main-menu > ul > li > ul > li > ul > li.first {
    margin-left: 17px;
}

/*.main-menu > ul > li > ul > li:hover > ul,*/
.main-menu > ul > li > ul > li.current_ancestor > ul,
.main-menu > ul > li > ul > li.current > ul {
    display: inline-block;
}

.main-menu > ul > li > ul > li > ul > li:hover > a,
.main-menu > ul > li > ul > li > ul > li.current > a,
.main-menu > ul > li > ul > li > ul > li.current_ancestor > a {
    color: #fd131c !important;
}

.main-menu > ul > li > ul > li > ul > li > a {
    color: #000 !important;
}

.header-right-block {
    position: relative;
    width: 153px;
    float: right;
    margin: 15px 5px 0 0;
    z-index: 2;
}

.search input[type="text"] {
    width: 133px;
    padding: 5px 10px;
    font-family: Calibri-Regular;
    font-weight: 400;
    border: 0;
    border-bottom: 1px solid #bababa;
    text-transform: uppercase;
    font-size: 16px;
    background: transparent;
    border-radius: 0px;
}

input[type="text"]::-webkit-input-placeholder {
    color: #000;
}

input[type="text"]::-moz-placeholder {
    color: #000;
}

input[type="text"]::-o-input-placeholder {
    color: #000;
}

input[type="text"]::-ms-placeholder {
    color: #000;
}

input[type="text"]::placeholder {
    color: #000;
}

input:focus {
    outline: 0;
}

.soc-icons ul {
    overflow: hidden;
    margin: 18px 0 0 5px;
}

.soc-icons ul li {
    float: left;
    margin: 0 0 0 5px;
}

.bottom-header {
    width: 100%;
    height: 52px;
    background: #ec1b24;
}

.bottom-header-block {
    width: 1165px;
    margin: 0 auto;
}

.bottom-header-block ul {
    overflow: hidden;
    margin: 0 0 0 223px;
}

.bottom-header-block ul li {
    float: left;
    margin: 0 35px 0 0;
}

.bottom-header-block ul li a {
    display: block;
    line-height: 52px;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.date {
    width: 100%;
    height: 50px;
    background: #fff;
    position: absolute;
    bottom: 5px;
}

.date-block {
    width: 1165px;
    overflow: hidden;
    margin: 0 auto;
}

.date-block ul {
    overflow: hidden;
    text-align: center;
}

.date-block ul li, .date-block ul li span {
    display: inline-block;
    line-height: 50px;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    overflow: hidden;
}

.date-block ul li div.year {
    display: block;
    line-height: 50px;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    float: left;
    cursor: pointer;
}

.date-block ul li span {
    display: block;
    float: left;
    padding: 0 20px;
}

.date-block ul li:hover div.year,
.date-block ul li.jFlowSelected div.year {
    color: #f00;
}

.content {
    width: 1164px;
    margin: 0 auto;
    background: #fff;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.content-top {
    padding-top: 72px;
}

.content-top-event {
    padding-top: 97px;
    padding-bottom: 52px;
}

.content-top-player{
    padding-top: 18px;
}

.content p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0.3em 0px;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 16px;
}

.content .news_list {
    padding-top: 72px;
}
.content .announce_list{
    padding-top: 0px;
}

.content-left-block {
    width: 715px;
    float: left;
}

.content-right-block {
    width: 443px;
    float: right;
}

.clear {
    clear: both;
}

.slide {
    min-width: 120px;
    width: 1200px;
    margin: 0 auto;
}

.content-slide {
    overflow: hidden;
}

.content-slide .content-slide-block {
    cursor: pointer;
}

.content-slide .content-slide-block:first-child {
    width: 100%;
    height: 480px;
    position: relative;
}

.content-slide .content-slide-block.last {
    margin: 8px 0 0 0;
}

.content-slide .content-slide-block .content-slide-block-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    word-wrap: break-word;
    background: rgba(0, 0, 0, 0.8);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    zoom: 1;
}

.content-slide .content-slide-block:hover .content-slide-block-title,
.content-slide .content-slide-block.current .content-slide-block-title {
    background: rgba(0, 0, 0, 0.8);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    zoom: 1;
}

.content-slide .content-slide-block .content-slide-block-title .inner {
    padding: 10px;
}

.content-slide .content-slide-block.first .content-slide-block-title {
    padding: 0px;
    margin: 0;
}

.content-slide .content-slide-block.first:hover .content-slide-block-title,
.content-slide .content-slide-block.current.first .content-slide-block-title {
    background: rgba(0, 0, 0, 0.8);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    zoom: 1;
}

.content-slide .content-slide-block.first .content-slide-block-title .inner {
    padding: 20px;
}

.content-slide .content-slide-block.first .content-slide-block-title a {
    font-size: 16px;
}

.content-slide .content-slide-block .content-slide-block-title a {
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

}

.content-slide .content-slide-block {
    width: 170px;
    height: 114px;
    float: left;
    position: relative;
    margin: 8px 11px 0 0;
    overflow: hidden;
}

.content-slide .content-slide-block.second .content-slide-block-title{
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    filter: alpha(opacity=0);
    zoom: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.content-slide .content-slide-block.second:hover .content-slide-block-title{
    background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.8);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";*/
    /*filter: alpha(opacity=100);*/
    opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.main-tab ul {
    overflow: hidden;
    background: #e46464;
    margin-top: 15px;
}

.main-tab ul li {
    width: 33.33%;
    display: block;
    float: left;
}

.main-tab ul li a {
    display: block;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #2D2D2D;
    height: 40px;
    line-height: 41px;
    text-decoration: none;
    padding-left: 10px;
}

.main-tab ul li.ui-state-active a {
    color: #FFF;
}

ul li:focus, ul li a:focus {
    outline: 0;
}

.tab-articl {
    width: 100%;
    min-height: 185px;
    /*overflow: hidden;*/
    position: relative;
    margin: 35px 0 0 0;
    border-bottom: 1px solid #c2c2c2;
}

.content .news_list .tab-articl {
    margin: 0px 0px 35px 0px;
}

.tab-articl-img {
    display: block;
    width: 230px;
    overflow: hidden;
    float: left;
}

.tab-articl-img img {
    border: 0;
}

.tab-articl-description {
    width: 470px;
    float: right;
    margin-top: -3px;
}

.content .news_list .tab-articl-description {
    padding-left: 15px;
    float: left;
}

.tab-articl-title {
    display: block;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 14px;
    color: #f00;
    text-transform: uppercase;
    text-decoration: none;
    margin: 7px 0 0 0;
}

.tab-articl-text {
    display: block;
    font-family: 'PT Sans',Arial;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #000;
    text-decoration: none;
}

.tab-articl-preview {
    text-transform: none;
    margin: 7px 0 7px 0;
    font-weight: 400;
    line-height: 16px;
    font-size: 13px;
}

.tab-articl.last {
    border-bottom: 0;
}

.main-moment {
    text-align: center;
    width: 100%;
    width: 1200px;
    margin: 0px auto;
    height: 490px;
    background: url(../images/main-moment.jpg) top center no-repeat;
    padding-bottom: 344px;
}

.main-moment iframe {
    margin: 35px auto 0 auto;
}

.main-moment-title {
    font-family: Calibri-Regular;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    padding: 40px 0 0 0;
    text-shadow: 2px 2px 5px #000;
}

.partners-block {
    width: 1165px;
    margin: 0 auto;
    padding: 0px 17px;
    background: #fff;
}

.partners-block-title {
    background: #e46464;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    padding: 0px 10px;
    margin: 0px -18px 10px -17px;
    height: 40px;
    line-height: 41px;
}

.partners-block ul li {
    display: inline-block;
    height: 255px;
    width: 20%;
    text-align: center;
    vertical-align: top;
    line-height: 255px;
}

.partners-block ul li a {
    display: inline-block;
    vertical-align: middle;
}

.partners-block ul li a img {
    vertical-align: middle;
    border: 0;
    max-width: 100%;
}

.partners-block ul {
    border-bottom: 1px solid #d1d1d1;
    text-align: center;
}

.footer {
    width: 1165px;
    margin: 0 auto;
    overflow: hidden;
    padding: 6px 17px 6px 17px;
    background: #fff;
}

.footer-block-left, .footer-block-right {
    float: left;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-transform: uppercase;
}

.footer-block-left p {
    margin: 0;
}

.footer-block-right {
    float: right;
    padding: 10px 0 0 0;
}

.right-block-title {
    margin-top: 8px;
    background: #e46464;
    width: 422px;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    padding: 0px 10px;
    height: 40px;
    line-height: 41px;
}

.main-tab2 ul li {
    width: 50%;
}

.chempionat {
    overflow: hidden;
}

.chempionat .chempionat-tr {
    overflow: hidden;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    margin: 10px 0;
}

.chempionat .chempionat-tr:first-child {
    color: #7b7b7b;
}

.chempionat .chempionat-tr .chempionat-td {
    float: left;
}

.chempionat .chempionat-tr .chempionat-td-1 {
    width: 55px;
    padding: 0 0 0 10px;
}

.chempionat .chempionat-tr .chempionat-td-2 {
    width: 250px;
}

.chempionat .chempionat-tr .chempionat-td-3 {
    width: 40px;
}

.chempionat .chempionat-tr .chempionat-td-4 {
    width: 40px;
}

.right-block {
    margin: 0 0 20px 0;
}

.right-block.kybki{
    margin: 0px;
    margin-bottom: -15px;
}

.calendar {
    position: relative;
    width: 100%;
    height: 350px;
}

.calendar a {
    display: block;
    position: absolute;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    text-decoration: none;
}

.calendar a span {
    display: none;
}

.calendar a.twelve {
    top: 20px;
    right: 220px;
}

.calendar a.thridteen {
    top: 55px;
    right: 170px;
}

.calendar a.fourteen {
    top: 95px;
    right: 135px;
}

.calendar a.fiveteen {
    top: 130px;
    right: 95px;
}

.calendar a.sixteen {
    top: 180px;
    right: 95px;
}

.calendar a.seventeen {
    top: 220px;
    right: 135px;
}

.calendar a.eightteen {
    top: 260px;
    right: 170px;
}

.calendar a.nineteen {
    top: 300px;
    right: 220px;
}

.calendar a.twenty {
    top: 260px;
    right: 265px;
}

.calendar a.twenty-one {
    top: 220px;
    right: 310px;
    font-size: 28px;
}

.calendar a.twenty-two {
    top: 180px;
    right: 355px;
    font-size: 26px;
}

.calendar a.twenty-three {
    top: 140px;
    right: 345px;
    font-size: 24px;
}

.calendar a.twenty-four {
    top: 100px;
    right: 315px;
    font-size: 22px;
}

.calendar a.twenty-fife {
    top: 90px;
    right: 270px;
    font-size: 20px;
}

.calendar a.twenty-six {
    top: 110px;
    right: 230px;
    font-size: 19px;
}

.calendar a.twenty-seven {
    top: 140px;
    right: 210px;
    font-size: 19px;
}

.calendar a.twenty-eight {
    top: 175px;
    right: 215px;
    font-size: 18px;
}

.calendar a.twenty-nine {
    top: 200px;
    right: 250px;
    font-size: 18px;
}

.calendar a.theirdty {
    top: 180px;
    right: 290px;
    font-size: 17px;
}

.calendar a.theirdty-one {
    top: 150px;
    right: 265px;
    font-size: 17px;
}

.calendar a:hover span {
    display: block;
    color: #fff;
    position: absolute;
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    background: #000;
    width: 200px;
    min-height: 50px;
    border-radius: 3px;
    z-index: 1;
    padding: 10px 15px;
}

.kybki {
    overflow: hidden;
    margin-top: 0px;
}

.kybki div.kubok {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.kubok_wrap_window{
    display: none;
    position: absolute;
    width: auto;
    padding-bottom: 0px;
    z-index: 1;
}

.kubok_wrap_window .window{
    display: block;
    background: url('/bundles/sitemain/frontend/images/icon-bottom-anons.png') no-repeat bottom center;
    padding-bottom: 14px;
    width: auto;
}

.kubok_wrap_window .window .wrap_text{
    border: solid 2px #707070;
    border-bottom: 0px;
    background: #fff;
}

.kubok_wrap_window .window .wrap_text .text{
    color: #000;
    font-family: "Arial";
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
    word-wrap: break-word;
}

img, a {
    border: 0;
}

#daily-events-calendar {
    width: 240px;
    height: 250px;
    position: relative;
    margin: 30px auto 0 auto;
}

#daily-events-calendar div.day {
    position: absolute;
    min-width: 17px;
    text-align: center;
}

#daily-events-calendar div.day1{
    font-size:28px;
    left:84px;
    top:0px;
    height: 41px;
    width: 41px;
    line-height: 41px;
}

#daily-events-calendar div.day1 .wrap-list-events{
    bottom: 25px;
    left: -14px;
}

#daily-events-calendar div.day2{
    font-size:27px;
    left:149px;
    top:25px;
    height: 40px;
    width: 40px;
    line-height: 42px;
}
#daily-events-calendar div.day2 .wrap-list-events{
    bottom: 25px;
    left: -15px;
}
#daily-events-calendar div.day3{
    font-size:26px;
    left:186px;
    top:80px;
    height: 39px;
    width: 39px;
    line-height: 40px;
}
#daily-events-calendar div.day3 .wrap-list-events{
    bottom: 25px;
    left: -15px;
}
#daily-events-calendar div.day4{
    font-size:25px;
    left:185px;
    top:143px;
    height: 38px;
    width: 38px;
    line-height: 38px;
}
#daily-events-calendar div.day4 .wrap-list-events{
    bottom: 25px;
    left: -15px;
}
#daily-events-calendar div.day5{
    font-size:24px;
    left:151px;
    top:192px;
    height: 37px;
    width: 37px;
    line-height: 37px;
}
#daily-events-calendar div.day5 .wrap-list-events{
    bottom: 25px;
    left: -15px;
}
#daily-events-calendar div.day6{
    font-size:23px;
    left:98px;
    top:211px;
    height: 36px;
    width: 36px;
    line-height: 38px;
}
#daily-events-calendar div.day6 .wrap-list-events{
    bottom: 25px;
    left: -16px;
}
#daily-events-calendar div.day7{
    font-size:22px;
    left:46px;
    top:198px;
    height: 35px;
    width: 35px;
    line-height: 35px;
}
#daily-events-calendar div.day7 .wrap-list-events{
    bottom: 25px;
    left: -15px;
}
#daily-events-calendar div.day8{
    font-size:21px;
    left:14px;
    top:160px;
    height: 34px;
    width: 34px;
    line-height: 34px;
}
#daily-events-calendar div.day8 .wrap-list-events{
    bottom: 25px;
    left: -15px;
}
#daily-events-calendar div.day9{
    font-size:20px;
    left:9px;
    top:113px;
    height: 33px;
    width: 33px;
    line-height: 34px;
}
#daily-events-calendar div.day9 .wrap-list-events{
    bottom: 22px;
    left: -18px;
}
#daily-events-calendar div.day10{
    font-size:19px;
    left:30px;
    top:75px;
    height: 32px;
    width: 32px;
    line-height: 32px;
}
#daily-events-calendar div.day10 .wrap-list-events{
    bottom: 20px;
    left: -19px;
}
#daily-events-calendar div.day11{
    font-size:18px;
    left:66px;
    top:57px;
    height: 31px;
    width: 31px;
    line-height: 31px;
}
#daily-events-calendar div.day11 .wrap-list-events{
    bottom: 20px;
    left: -19px;
}
#daily-events-calendar div.day12{
    font-size:17px;
    left:103px;
    top:63px;
    height: 30px;
    width: 30px;
    line-height: 30px;
}
#daily-events-calendar div.day12 .wrap-list-events{
    bottom: 20px;
    left: -19px;
}
#daily-events-calendar div.day13{
    font-size:16px;
    left:127px;
    top:87px;
    height: 29px;
    width: 29px;
    line-height: 29px;
}
#daily-events-calendar div.day13 .wrap-list-events{
    bottom: 18px;
    left: -20px;
}
#daily-events-calendar div.day14{
    font-size:15px;
    left:133px;
    top:117px;
    height: 28px;
    width: 28px;
    line-height: 28px;
}
#daily-events-calendar div.day14 .wrap-list-events{
    bottom: 12px;
    left: -20px;
}
#daily-events-calendar div.day15{
    font-size:14px;
    left:121px;
    top:142px;
    height: 27px;
    width: 27px;
    line-height: 27px;
}
#daily-events-calendar div.day15 .wrap-list-events{
    bottom: 12px;
    left: -20px;
}
#daily-events-calendar div a {
    font-family: "Arial";
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

#daily-events-calendar > div:hover,
#daily-events-calendar > div.active{
    background: #e46464;
    border-radius: 100%;
}

#daily-events-calendar div:hover a,
#daily-events-calendar div.active a{
    color: #fff;
}
#daily-events-calendar div.wrap-list-events{
    display: none;
    position: absolute;
    width: 235px;
    padding-bottom: 20px;
    z-index: 1;
}
#daily-events-calendar div.list-events {
    font-size: 12px;
    color: #fff;
    width: 160px;
    padding: 0px;
    z-index: 1;
    text-align: left;
    margin: 0 0 0 -80px;
}

#daily-events-calendar div:hover div.wrap-list-events{
    display: block;
    z-index: 1000;
}

#daily-events-calendar div:hover div.list-events {
    background: url('/bundles/sitemain/frontend/images/icon-bottom-anons.png') no-repeat bottom center;
    padding-bottom: 14px;
    width: 235px;
}

#daily-events-calendar .list-events ul {
    border: solid 2px #707070;
    border-bottom: 0px;
    background: #fff;
}

#daily-events-calendar .list-events ul li{
    border-bottom: solid 2px #707070;
}

#daily-events-calendar .list-events ul li.last{
    border: 0px;
}
#daily-events-calendar .list-events ul li.item-event{
    position: relative;
    height: 130px;
}
#daily-events-calendar .list-events ul li.item-event a{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#daily-events-calendar .list-events ul li.item-event .datetime{
    color: #000;
    font-family: "Arial";
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 15px 12px 15px;
}

#daily-events-calendar .list-events ul li.item-event .the-end-last-block-1 .the-end-last-block-title,
#daily-events-calendar .list-events ul li.item-event .the-end-last-block-3 .the-end-last-block-title{
    line-height: 12px;
}

#daily-events-calendar .list-events ul li.item-event .the-end-last-block-2{
    margin: 9px 0 0 0;
}

#daily-events-calendar .list-events ul li.item-event .the-end-last-block-title{
    margin-top: -2px;
}
#daily-events-calendar .list-events ul li.item-anons{
    position: relative;
}
#daily-events-calendar .list-events ul li.item-anons a{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#daily-events-calendar .list-events ul li.item-anons .datetime{
    color: #000;
    font-family: "Arial";
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 15px 0px 15px;
}

#daily-events-calendar .list-events ul li.item-anons .name{
    color: #000;
    font-family: "Arial";
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 15px 15px 15px;
    word-break: break-all;
}

#daily-events-calendar div.list-events a{

}

#daily-events-calendar div.list-events a .name{
    color: #000;
    font-weight: 700;
    font-size: 16px;
    word-wrap: break-word;
    text-transform: uppercase;
    line-height: 14px;
    display: block;
    max-width: 100%;
    padding: 0px 13px;
    margin-top: -5px;
}

#daily-events-calendar div.list-events a .datetime{
    color: #fff;
    display: inline-block;
    max-width: 100%;
    width: 100%;
}

#daily-events-calendar div.list-events a .command{
    color: #fff;
    display: inline-block;
    max-width: 100%;
    width: 100%;
}

.the-end-main-main {
    position: relative;
    z-index: 200;
    width: 1165px;
    margin: -484px auto 0 auto;
}

.the-end-main {
    position: absolute;
    top: 10px;
    right: -7px;
    z-index: 100000;
    width: 220px;
}

.the-end {
    position: relative;
    width: 220px;
    background: #fff;
    margin-bottom: 10px;
}

.the-end a{
    display: block;
    width: 220px;
    height: 150px;
    position: absolute;
    left: 0px;
    top: 0px;
    cursor: pointer;
    z-index: 1;
}

.the-end-title {
    color: #FFF;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 9px;
    background: #e46464;
}

.the-end-date {
    color: #000;
    padding: 9px;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.the-end-last-block {
    overflow: hidden;
}

.the-end-last-block-1 {
    width: 41%;
    float: left;
    text-align: center;
}

.the-end-last-block-2 {
    width: 100%;
    text-align: center;
    color: #000;
    font-family: "Arial";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    float: left;
    margin: 19px 0 0 0;
    position: absolute;
    z-index: 0;
}

.the-end-last-block-3 {
    width: 41%;
    float: right;
    text-align: center;
}

.the-end-last-block-title {
    text-align: center;
    word-wrap: normal;
    white-space: nowrap;
    color: #000;
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 9px;
    padding: 0px 10px;
}

.margin-right-0 {
    margin-right: 0 !important;
}

.reklama {
    display: block;
    min-width: 120px;
    width: 1200px;
    text-align: center;
    font-family: Calibri-Regular;
    font-size: 30px;
    color: #fff;
    padding: 0px;
    position: relative;
    margin: 0px auto 0px auto;
}

.reklama a#close {
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url(../images/close.png) no-repeat;
}

.reklama img{
    width: 100%;
    border: 0px;
}

.wrap {
    height: auto;
    min-height: 100%;
    width: 1199px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#FFFFFFFF', EndColorStr='#FFFFFFFF')";
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFFFF', EndColorStr='#FFFFFFFF');
    zoom: 1 !important;
}

.wrap_content {
    padding-bottom: 344px;
    background: #fff;
}

.wrap_content_main {
    background: #fff;
}

.wrap_footer {
    position: relative;
    margin-top: -344px;
    clear: both;
}

/* Player */
.table-player {
    width: 100%;
    margin-bottom: 30px;
}

.table-player table {
    margin-bottom: 0px;
    border: 0;
}

.table-player table td {
    width: 50%;
    padding: 5px;
}

.table-player table th {
    border-bottom: 1px solid #c2c2c2;
}

.table-player table th.last {
    border: 0;
}

.table-player > thead > tr > th,
.table-player > tbody > tr > th,
.table-player > tfoot > tr > th,
.table-player > thead > tr > td,
.table-player > tbody > tr > td,
.table-player > tfoot > tr > td {

}

.table-player th {
    font-family: Calibri-Regular;
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
}

.table-player td {
    font-family: Calibri-Regular;
    font-size: 16px;
    vertical-align: top;
    text-align: left;
}

.table-player td.img {
    width: 230px;
}

/* end Player */

/* Event */
.table-event {
    background-color: #fff;
    border-collapse: collapse;
    color: #535f68;
    font-family: Calibri-Regular;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    margin-bottom: 30px;
}

.table-event thead th {
    font-weight: 400;
    height: 70px;
    border-bottom: 1px solid #000;
}

.table-event tbody tr:hover {
    /*background: #f6b8b9;*/
    /*cursor: pointer;*/
}

.table-event td {
    border-color: #d4d5d5;
    padding: 0px 10px;
    height: 80px;
    border-bottom: 1px solid #e5e5e5;
    /*border-top: 1px solid #e5e5e5;*/
    vertical-align: middle;
    text-align: center;
}

.table-event td.first{
    text-align: left;
    width: 245px;
}

.table-event td img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    border: 0;
}

.table-event td a{
    color: #000;
    text-decoration: none;
}

.table-event-result span.number{
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.table-event-result td img{
    margin-right: 0px;
}

/* end Event */

/* Map */
.map {
    padding-top: 17px;
}

/* end Map */

/* Media */
.media {
    margin: 0px -10px;
    padding-top: 17px;
}

.media h1{
    margin: 0px 10px;
    padding-top: 0px;
    text-align: center;
}

.media .text{
    margin: 0px 10px;
}

.media .column {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
}

.media .column .media-one {
    background-color: #fff;
    margin: 0px 10px 20px 10px;
    cursor: pointer;
    position: relative;
    border: 1px solid #bababa;
}

.media .column .media-one a img {
    width: 100%;
    margin-bottom: -5px;
    border: 0;
}

.media .column .media-one .description {
    padding: 10px 13px 13px 13px;
}

.media .column .media-one a {
    font-family: Calibri-Regular;
    font-size: 16px;
    color: #000;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.gallery {
    position: relative;
    max-width: 720px;
    margin: 0px auto;
    padding: 0px 0px 18px 0px;
}

.gallery.group {
    margin-top: 19px;
}

.gallery .play {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /*background: rgba(0, 0, 0, 0.5);*/
}

.gallery .play img {
    width: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.gallery div {
    float: left;
    position: relative;
    width: 33.33%;
}

.gallery div a {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 3px;
    z-index: 0;
}

.gallery div a {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000;
    /* works for IE 5+. */
    filter: alpha(opacity=50);
    /* works for IE 8. */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
    -moz-opacity: 0.5;
    /* This is for old versions of Safari (1.x) with KHTML rendering engine */
    -khtml-opacity: 0.5;
    /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */
    opacity: 0.5;
    width: auto;
    z-index: 1;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.gallery div a.fancybox:hover {
    opacity: 0;
}

.gallery img {
    display: block;
    width: 100%;
}

.videos {
    position: relative;
    max-width: 720px;
    margin: 0 auto;
    padding: 0px 0px 18px 0px;
}

.videos .wrap_video {
    /*margin-bottom: 50px;*/
}

.videos .video {
    position: relative;
}

.videos .video .background {
    position: absolute;
    left: 0;
    right: 0;
    /*background: rgba(0, 0, 0, 0.5);*/
    top: 0;
    bottom: 6px;
    z-index: 0;
}

.videos .video a {
    display: block;
    width: 157px;
    height: 149px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.videos .video > img{
    width: 100%;
}

.indexByTaxonAjax {
    display: none;
    background: url("/bundles/sitemain/frontend/images/load.gif") no-repeat center center;
    height: 70px;
    width: 100%;
}

.indexByTaxonAjax.hold{
    display: block;
}

.temp{
    display: none;
}

/* end Media */

/* Event Table */
.event-table{
    border: 2px solid #E36363;
    margin: 0px 53px;
}
.event-table ul.menu{
    height: 55px;
    line-height: 55px;
    border-bottom: #E36363 solid 2px;
    margin: 0px 12px;
    text-align: center;
}
.event-table ul.menu li{
    display: inline-block;
    padding: 0px 20px;
}
.event-table ul.menu li,
.event-table ul.menu li a{
    font-family: Calibri-Regular;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.event-table ul.menu li.current,
.event-table ul.menu li a:hover{
    color: #E36363;
}
.event-table .table-content{
    padding: 25px 12px;
}
.event-table .table-content .news_list{
    padding: 0px;
}
/* end Event Table */

/* Players Table */
.table-players {
    background-color: #fff;
    border-collapse: collapse;
    color: #535f68;
    font-family: Calibri-Regular;
    font-size: 16px;
    line-height: 18px;
    width: 100%;
    margin-bottom: 30px;
}

.table-players thead th {
    font-weight: 400;
    height: 50px;
    border-bottom: 1px solid #000;
}

.table-players tbody tr:hover {
    /*background: #f6b8b9;*/
    /*cursor: pointer;*/
}

.table-players td {
    border-color: #d4d5d5;
    height: 50px;
    white-space: nowrap;
    width: 350px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    vertical-align: middle;
    text-align: center;
}

.table-players td.first{
    text-align: left;
}
.table-players td span{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 50px;
    height: 50px;
}
.table-players td span img {
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

.table-players td span:hover img{
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 0px;
}

.table-players td a{
    color: #000;
    text-decoration: none;
}
/* end Players Table */

/* Directors */
.directors{
    position: relative;
    margin: 0px 12px;
}
.directors h2{
    text-align: center;
    padding-bottom: 27px;
    COLOR: red;
    font-size: 20px;
}
.directors .director{
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
}
.directors .director .inner{
    margin: 0px 82px 40px 82px;
}
.directors .director img{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 100%;
}
.directors .director .description{
    font-family: Calibri-Regular;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}
/* end Directors */

/* Game Page */
.game-table{
    font-family: Arial;
    padding-bottom: 38px;
}
.game-table h1{
    font-family: Arial;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px 10px;
    padding: 23px 0px 40px 0px;
    text-align: center;
    background: url('../images/game-table-team-shadow-top.jpg') no-repeat bottom center;
}
.game-table .wrap_teams{
    padding: 40px 0px;
    margin: 0px 10px -10px 10px;
    background: url('../images/game-table-team-shadow.jpg') no-repeat bottom center;
}
.game-table .wrap_teams .teams{
    max-width: 440px;
    display: table;
    margin: 0px auto;
    padding-bottom: 30px;
}
.game-table .wrap_teams .teams .team-1,
.game-table .wrap_teams .teams .team-2{
    display: table-cell;
    vertical-align: top;
    text-align: center;
}
.game-table .wrap_teams .teams .team-1 .name,
.game-table .wrap_teams .teams .team-2 .name{
    margin-top: 25px;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.game-table .wrap_teams .teams .score{
    color: #000;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 7px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0px 65px 30px 65px;
}
.game-table .lists{
    margin-bottom: 35px;
    width: 700px;
    margin: 0px auto;
}
.game-table .lists h2{
    font-family: Arial;
    color: #F00;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-bottom: #f2f2f2 solid 2px;
    margin: 0px 10px;
}
.game-table .lists .wrap_list{
    padding: 0px 10px;
}
.game-table .lists .list{
    display: table;
    width: 100%;
    padding: 10px 0px;
    border-bottom: #f2f2f2 solid 2px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}
.game-table .lists .list .team-0{
    display: table-cell;
    width: 40%;
    padding-left: 55px;
}
.game-table .lists .list .team-1{
    display: table-cell;
    width: 40%;
    padding-left: 55px;
}
.game-table .lists .list .score{
    display: table-cell;
    width: 20%;
    text-align: center;
}
.game-table .lists .list .card{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    vertical-align: middle;
    margin: -7px 0px 0px -43px;
    position: absolute;
}
.game-table .lists .list .card.yellow{
    background: #fff343;
}
.game-table .lists .list .card.red{
    background: #ff0000;
}
/* end Game Page */
.instagram{
    margin-top: 10px;
}
.instagram .page{
    width: 443px;
    margin: 0px -5px;
}
.instagram .page a{
    display: inline-block;
    width: 141px;
    height: 141px;
    margin: 0px 5px;
}
/* News on main */
#tabs .tab-articl-img{
    width: 160px;
}
#tabs .tab-articl-img img{
    width: 160px;
    height: auto;
}
#tabs .tab-articl{
    min-height: 144px;
}
#tabs .tab-articl-description{
    width: 540px;
    float: right;
}
/* end news on main */

/* Finals */
.finals{
    width: 933px;
    margin: 0px auto;
}
.finals > .final{
    display: inline-block;
    vertical-align: top;
    margin: 0px 20px;
}
.finals > .final > .name{
    color: #000;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
}
.finals > .final > .wrap_rectangle > .rectangle{
    width: 170px;
    padding: 10px;
    margin-bottom: 7px;
    border: #b8b8b8 solid 1px;
}
.finals > .final.final-2 > .wrap_rectangle{
    margin-top: 63px;
}
.finals > .final.final-3 > .wrap_rectangle{
    margin-top: 143px;
}
.finals > .final.final-4 > .wrap_rectangle{
    margin-top: 303px;
}
.finals > .final.final-2 > .wrap_rectangle > .rectangle{
    margin-bottom: 90px;
}
.finals > .final.final-3 > .wrap_rectangle > .rectangle{
    margin-bottom: 250px;
}
.finals > .final > .wrap_rectangle > .rectangle.last{
    margin-bottom: 0px;
}
.finals > .final > .wrap_rectangle > .rectangle > .team{
    margin-bottom: 3px;
}
.finals > .final > .wrap_rectangle > .rectangle > .team.second{
    margin-bottom: 0px;
}
.finals > .final > .wrap_rectangle > .rectangle > .team img{
    display: inline-block;
    vertical-align: middle;
}
.finals > .final > .wrap_rectangle > .rectangle > .team > .name{
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    margin-left: 7px;
}
.finals > .final > .wrap_rectangle > .rectangle > .team > .name.second{
    color: #7B7B7B;
}
.finals > .final > .wrap_rectangle > .rectangle > .team > .score{
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    float: right;
    margin-top: 5px;
}
.finals > .final > .wrap_rectangle > .rectangle > .team > .score.second{
    color: #7B7B7B;
}
.finals > hr{
    margin: 20px -50px;
    background: #e36363;
    height: 2px;
    border: 0px;
}
.finals > .final-table{
    color: #000;
    font-family: "Arial";
    font-size: 14px;
    font-weight: 400;
}
.finals > .final-table table{
    width: 100%;
    border-spacing: 0px;
}
.finals > .final-table table tr{

}
.finals > .final-table table tr td{
    padding: 10px 20px;
    border-bottom: #e5e5e5 solid 1px;
}
.finals > .final-table table tr td.name{
    font-weight: 700;
}
/* end Finals */

/* Poll */
.poll #polls_list .content{
    font-family: "Arial";
    font-size: 12px;
    font-weight: 400;
    width: auto;
    background: none;
    border: 0px;
    padding: 0px;
}
.poll #polls_list .content input[type="submit"]{
    background: #e46464;
    border: 0px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 0px;
}
.poll #polls_list .content .see_results,
.poll #polls_list .content .see_form{
    color: #000;
}
.poll #polls_list h2{
    font-size: 1em;
    margin: 0px;
    line-height: 1em;
    padding: 10px 0px;
}
.poll .results{
    width: 100%;
    border-spacing: 0px;
}
.poll .results .fill_color_1{
    background-color: #e46464;
}
.poll .results .graph_bar{
    border: 0px;
    width: auto;
    padding: 0px;
}
.poll .results th{
    padding: 0 0px 5px 0;
    width: 50%;
}
.poll .results td.sub_total{
    width: 15%;
}
.poll .results td{
    width: 35%;
}
.poll ul li input[type='radio']{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    cursor: pointer;
}
.poll ul li label{
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
    cursor: pointer;
}
.poll .results .total{
    text-align: left;
}
/* end Poll */