{% extends 'SiteMainBundle:Frontend:layout.html.twig' %}

{% block title %}Результаты поиска{% endblock %}

{% block content %}
    <div class="wrap_content">
        <div class="content">
            <p>{{ flashMessage }}</p>
        </div>
    </div>
{% endblock %}