{% macro listDirectors(directors) %}
    {% if directors|length > 0 %}
        <div class="directors">
            {% for director in directors %}<div class="director">
                <div class="inner">
                    <img src="{{ image(director.webPath).zoomCrop(210, 210) }}" alt="{{ director.name }}"/>
                    <div class="description">
                        {{ director.status }}<br/>
                        {{ director.name }}
                    </div>
                </div>
                </div>{% endfor %}
        </div>
    {% endif %}
{% endmacro %}